body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

.left {
    box-sizing: border-box;
    background-color: hsla(195, 100%, 45%, 1);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    font-size: 2rem;
    padding: 25px;
    color: hsl(0, 0%, 95%);
}

.logo {
    padding-left: 25px;
}

.left ul {
    padding-left: 0;
    margin: 0;
}

.left li {
    padding-left: 50px;
    list-style: none;
}


.right {
    background-color: hsl(0, 0%, 90%);
    grid-column: 2 / 3;
    min-height: 100vh;
}
