.panel {
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    padding: 10px 70px 10px 70px;
}

.navprof {
    padding: 20px;
    display:flex;
    justify-content: space-between;
}

.proficon {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.lowernav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.buttons {
    display: flex;
    width: clamp(275px, 25%, 350px);
    align-items: center;
    justify-content: space-between;
}

.buttons > button {
    width: 5em;
    border: none;
    border-radius: 1em;
    height: 2em;
    font-size: 1.1em;
    background-color: hsla(195, 100%, 45%, 1);;
    color: white;
}

.hitheretext > p:last-child {
    font-size: 1.5em;
}

.hitheretext > p {
    font-weight: 700;
    margin: 5px 0 5px 0;
}