.info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 20px 60px 20px;
}

.yourprojects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.with-margin {
    margin-bottom: 20px;
}

.containerproj {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);  
    flex: 1;
}

.projectinfo {
    padding: 10px 25px 10px 25px;
    background-color: white;
    border-left: 10px solid orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.descr {
    width: 75%
}

.icons {
    display: flex;
    justify-content: end;
    gap: 16px;
    margin-bottom: 10px;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0 20px 0 20px;
}

.announc {
    padding: 0 25px 0 25px
}

.line {
    border: 1px solid hsla(0, 0%, 0%, 0.25);
    width: 90%;
    margin: 0 auto;
}

.containerann {
    background-color: white;
    display: grid;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0 20px 0 20px;
}

.containertrends {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 10px 25px 10px 25px; 
}

.popularprofile {
    display: flex;
    align-items: center;
    padding: 5px;
}

.popularprofile > div {
    margin: 0 auto;
}

.descr > p, .announc > p {
    margin-top: 0;
    color: hsla(0, 0%, 30%, 0.85);
}

.descr > p {
    font-size: 1.1em;
}

h2, h3 {
    margin-bottom: 0;
}