body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

.left {
    box-sizing: border-box;
    background-color: hsla(195, 100%, 45%, 1);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    font-size: 2rem;
    color: hsl(0, 0%, 95%);
    min-width: 300px;
}

.logo {
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2.2rem;
}

.logo > img {
    width: 100%;
    height: 100%;
}


.left ul {
    padding-left: 0;
    margin: 0;
}

.left li {
    padding: 0 0 10px 50px;
    list-style: none;
}

.right {
    background-color: hsl(0, 0%, 90%);
    grid-column: 2 / 3;
}

.material-symbols-outlined {
    transform: scale(1.5);
  }